 .u-section-1 {
  background-color: #f7f9fc;
  padding: 60px 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 518px;
}

.u-section-1 .u-custom-html-1 {
  max-width: 450px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 18px;
  color: white;
  background-color: #478ac9;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
}

 .u-section-1 {
  background-color: #f7f9fc;
  padding: 60px 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 518px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 27px;
  font-size: 18px;
  color: white;
  background-color: rgb(71, 138, 201);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(71, 138, 201);
  padding: 15px;
}

 .u-section-1 {
  background-color: #f7f9fc;
  padding: 60px 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 518px;
}

.u-section-1 .u-custom-html-1 {
  max-width: 450px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 18px;
  color: white;
  background-color: #478ac9;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 27px;
  font-size: 18px;
  color: white;
  background-color: rgb(71, 138, 201);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(71, 138, 201);
  padding: 15px;
}

.u-block-0fd9-7 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-block-0fd9-8 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-block-0fd9-9 {
  width: 100%;
  margin-top: 20px;
  background-color: rgb(71, 138, 201);
  color: white;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 0;
}

.u-block-0fd9-10 {
  display: none;
}

.u-block-0fd9-11 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-block-0fd9-12 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-block-0fd9-13 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-block-0fd9-14 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-block-0fd9-15 {
  width: 100%;
  margin-top: 20px;
  background-color: rgb(71, 138, 201);
  color: white;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
    font-size: 18rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 18rem;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
    font-size: 18rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 18rem;
  }

  .u-block-0fd9-9 {
    font-size: 16rem;
  }

  .u-block-0fd9-15 {
    font-size: 16rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-color: #f7f9fc;
  padding: 60px 0;
}

.u-section-1 .u-sheet-2 {
  min-height: 518px;
} .u-section-3 {
  background-color: #f7f9fc;
  padding: 60px 0;
}

.u-section-1 .u-group-1 {
  max-width: 450px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  font-size: 18px;
  color: white;
  background-color: #478ac9;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
}

.u-section-1 .u-btn-2 {
  font-size: 18px;
  color: white;
  background-color: rgb(71, 138, 201);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(71, 138, 201);
  margin-bottom: 27px;
  padding: 15px;
}

.u-section-1 .u-input-1 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-section-1 .u-input-2 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-section-1 .u-btn-3 {
  width: 100%;
  margin-top: 20px;
  background-color: rgb(71, 138, 201);
  color: white;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 0;
}

.u-section-1 .u-form-2 {
  display: none;
}

.u-section-1 .u-input-3 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-section-1 .u-input-4 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-section-1 .u-input-5 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-section-1 .u-input-6 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
}

.u-section-1 .u-btn-4 {
  width: 100%;
  margin-top: 20px;
  background-color: rgb(71, 138, 201);
  color: white;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    font-size: 18rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 18rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 16rem;
  }

  .u-section-1 .u-btn-4 {
    font-size: 16rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}